<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.homedeco.www.homedeco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aboutUs.AboutUs"
            android:label="Λίγα λόγια"
            android:parentActivityName=".Main" />
        <activity
            android:name=".cart.Cart"
            android:label="Καλάθι"
            android:parentActivityName=".Main" />
        <activity
            android:name=".contact.chat.Chat"
            android:parentActivityName=".Main"
            android:label="Συνομιλία"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".cart.CheckoutDialog" />
        <activity
            android:name=".product.custom.CustomProducts"
            android:parentActivityName=".product.generic.Products"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".user.login.Login"
            android:label="Είσοδος χρήστη"
            android:parentActivityName=".Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".product.generic.ProductDetails"
            android:label="Πληροφορίες"
            android:parentActivityName=".product.generic.GenericProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.generic.GenericProducts"
            android:label="Προϊόντα"
            android:parentActivityName=".product.generic.Products" />
        <activity
            android:name=".user.register.Register"
            android:label="Εγγραφή"
            android:parentActivityName=".user.login.Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".contact.regular.ContactUs"
            android:label="Επικοινωνία"
            android:parentActivityName=".Main" />
        <activity
            android:name=".product.generic.Products"
            android:label="Τύποι Προϊόντων"
            android:parentActivityName=".Main" />
        <activity
            android:name=".order.creation.OrderCreation"
            android:label="Δημιουργία παραγγελίας"
            android:parentActivityName=".cart.Cart"/>
        <activity
            android:name=".order.history.OrderHistory"
            android:label="Ιστορικό Παραγγελιών"
            android:parentActivityName=".cart.Cart"/>
    </application>

</manifest>